/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/*.php
/storage/*.key
/storage/pail
/storage/*.sqlite
/storage/oauth-private.key
/storage/oauth-public.key
/storage/logs/*.log
/storage/logs/*.txt
/storage/framework/*
!storage/framework/.gitignore
!bootstrap/cache/.gitignore
/vendor
.env
.env.backup
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# IDE & tool settings
/.idea
/.vscode
/.fleet
/.zed
/.phpactor.json
/.nova

# System & debug files
npm-debug.log*
yarn-error.log*
auth.json

# Homestead/Vagrant
Homestead.json
Homestead.yaml
